body{
    text-align: center;
    background-image: url(wp.png);
}#headerSection{
    padding: 10px;
}#headerSection{
    font-family: 'Times New Roman', Times, serif;
}input{
    padding: 10px;
    border-radius: 5px;
}#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}#loginbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #746acf;
    color: #303952;
}